body {
  text-align: center;
  color: white;
  font-family: "Heebo";
}

.MarketingPage {
  text-align: left;
}

.header {
  text-align: center;
  padding-bottom: 5rem;
}

.list {
  color: rgb(252, 252, 252);
}

.formcont {
  text-align: left;
  padding-left: 30vw;
  padding-right: 30vw;
}

.buttcent {
  text-align: center;
}

.formbutt {
  color: white;
  background-color: transparent;
  border-color: white;
  width: 10rem;
}
